*{
    margin:  0 auto;
    box-sizing: border-box;
}

.player{
    width: 250px;
    height: 140px;
    border: 1px solid #000;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playPlayer{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pausePlayer{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopPlayer{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playPlayer:hover{
    background-color: cyan;
}
.pausePlayer:hover{
    background-color: cyan;
}
.stopPlayer:hover{
    background-color: cyan;
}
